* {
    background-image: url(assets/movies.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0 auto;
    color: white;
    box-sizing: border-box;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth ease 300ms;
}

/* body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

option {
    color: black;
}

section {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: white;

}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

h1 {
    box-shadow: 8px 2px 6px black;
    color: black;
}

/*NAV*/

.nav {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
}

.nav__header {
    color: black;
    box-shadow: 8px 2px 6px black;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 100px;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 300px;
    height: 300px;
    position: relative;
}

.link {
    color: black;
}


.search__bar {
    height: 40px;
    width: 300px;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid white;
    box-shadow: 10px 8px 10px;
    margin-top: 20px;
}

.fa-magnifying-glass,
.search__button {
    position: absolute;
    right: 15px;
    top: 35%;
}

.fa-magnifying-glass:hover,
.search__button {
    cursor: pointer;
}

/*MOVIE SECTION*/

.genre__list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}



.movie__img--wrapper {
    width: calc(100%/2);
}

.movie__img--wrapper:hover {
    cursor: none;
}

.movie__img {
    height: 190px;
    width: 190px;
    padding: 10px 10px;
}

.movie__img:hover {
    cursor: not-allowed;
    transform: scale(1.2);
    background: none;
}

#moviecontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.movie__list {
    display: flex;
    width: 100%;
    margin-left: 60px;
    margin-right: 8px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.movie__img {
    width: 200px;
    height: 250px;
}


.movie {
    width: calc(100%/3);
    padding: 10px 20px;
}

/*FOOTER*/

.footer__container {
    height: 300px;
    width: 100%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__img--wrapper {
    margin: 10px 10px;
}

.footer__img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.footer__img:hover {
    transform: scale(1.1);
}

.footer__h1 {
    color: white;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*MEDIA*/
@media(max-width: 920px) {
    #moviecontainer {
        width: 100%;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .movie__list {
        padding: 10px 10px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: 1px solid green;
    }

    .movie {
        width: calc(100%/2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .genre__list {
        border: 1px solid blue;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 2px 2px;
    }

    .movie__img--wrapper {
        width: calc(100%/2);
        border: 1px solid blue;
    }

    .movie__img--wrapper:hover {
        cursor: none;
    }
}

@media(max-width:815px) {
    .genre__list {
        border: 1px solid blue;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 2px 2px;
        justify-content: center;
        align-items: center;
    }

    .movie__img--wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border: 1px solid blue;
    }

    .genre__link {
        width: calc(100%/2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .movie__img {
        width: 160px;
        height: 200px;
    }

    .movie__img--wrapper:hover {
        cursor: none;
    }
}